<h2>@ViewBag.Title</h2>
<br />
<partial name="_Notifications" />

<a class="btn btn-success" asp-action="Index" asp-controller="Products">Inapoi la produse</a>

<br />
<br />

@foreach (var category in ViewBag.Categories)
{
    @Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn alert-success" asp-action="Show" asp-controller="Categories" asp-route-id="@category.Id">Afisare categorie</a>
    <a class="btn alert-success" asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id">Editare categorie</a>

    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-success" asp-action="New" asp-controller="Categories">Adauga o noua categorie</a>

<br />