<br />

<h2 class="text-center">Afisare produse</h2>

<br />

<br />

@* Motorul de cautare *@
    @*filtrare; in curand*@ 


@if (User.IsInRole("Colaborator") || User.IsInRole("Admin"))
{
    <a href="@Url.Action("New", "Products")" class="btn btn-primary mb-3">Adaugă Produs</a>
}


@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Index", "Categories")" class="btn btn-primary mb-3">
        Gestionare Categorii
    </a>
}



@foreach (var product in ViewBag.Products)
{
    <div class="card">

        <partial name="ProductInfo" model="product"></partial>

        <a class="btn btn-success" asp-controller="Products" asp-action="Show" asp-route-id="@product.Id">Afisare produs</a>

        @if (User.IsInRole("Colaborator") || User.IsInRole("Admin"))
        {
            <div class="d-flex justify-content-between align-items-center">
                <a href="@Url.Action("Edit", "Products", new { id = product.Id })" class="btn btn-warning btn-sm">Editează</a>
                <form asp-action="Delete" asp-controller="Products" method="post" onsubmit="return confirm('Ești sigur?');" style="margin: 0;">
                    <input type="hidden" name="id" value="@product.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Șterge</button>
                </form>
            </div>
        }


    </div>

    <br />
    <br />
}

@* Afisarea paginata a produselor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>